In [21]:
import numpy as np

In [22]:
import pandas as pd

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
import pandas as pd

# Load the CSV dataset into a pandas DataFrame
data = pd.read_csv("C:\\Users\\thanu\\OneDrive\\Desktop\\crime.csv")



# Display the first few rows of the dataset
print(data.head())

   Year  Population  Murder  Rape  Robbery  Assault  Burglary  CarTheft
0  1965    18073000     836  2320    28182    27464    183443     58452
1  1966    18258000     882  2439    30098    29142    196127     64368
2  1967    18336000     996  2665    40202    31261    219157     83775
3  1968    18113000    1185  2527    59857    34946    250918    104877
4  1969    18321000    1324  2902    64754    36890    248477    115400

In [25]:
data.head()

   Year  Population  Murder  Rape  Robbery  Assault  Burglary  CarTheft
0  1965    18073000     836  2320    28182    27464    183443     58452
1  1966    18258000     882  2439    30098    29142    196127     64368
2  1967    18336000     996  2665    40202    31261    219157     83775
3  1968    18113000    1185  2527    59857    34946    250918    104877
4  1969    18321000    1324  2902    64754    36890    248477    115400

In [26]:
print(data.columns.str.lower())  # Check if 'text' is actually 'Text' or something else

Index(['year', 'population', 'murder', 'rape', 'robbery', 'assault',
       'burglary', 'cartheft'],
      dtype='object')

In [27]:
print([repr(col) for col in data.columns])  # Show hidden characters

["'Year'", "'Population'", "'Murder'", "'Rape'", "'Robbery'", "'Assault'", "'Burglary'", "'CarTheft'"]

In [28]:
data.rename(columns={" text ": "text"}, inplace=True)

In [29]:
print(data.columns)

Index(['Year', 'Population', 'Murder', 'Rape', 'Robbery', 'Assault',
       'Burglary', 'CarTheft'],
      dtype='object')

In [30]:
print([repr(col) for col in data.columns])  # See exact column names

["'Year'", "'Population'", "'Murder'", "'Rape'", "'Robbery'", "'Assault'", "'Burglary'", "'CarTheft'"]

In [31]:
data.columns = ['year', 'population', 'murder', 'rape', 'robbery', 'assault', 'burglary', 'car_theft']

In [32]:
print(data.head())  # View first few rows
print(data.columns)  # Confirm column names

   year  population  murder  rape  robbery  assault  burglary  car_theft
0  1965    18073000     836  2320    28182    27464    183443      58452
1  1966    18258000     882  2439    30098    29142    196127      64368
2  1967    18336000     996  2665    40202    31261    219157      83775
3  1968    18113000    1185  2527    59857    34946    250918     104877
4  1969    18321000    1324  2902    64754    36890    248477     115400
Index(['year', 'population', 'murder', 'rape', 'robbery', 'assault',
       'burglary', 'car_theft'],
      dtype='object')

In [33]:
data = pd.read_csv("C:/Users/thanu/OneDrive/Desktop/crime.csv", encoding='utf-8', skipinitialspace=True)
print(data.columns)

Index(['Year', 'Population', 'Murder', 'Rape', 'Robbery', 'Assault',
       'Burglary', 'CarTheft'],
      dtype='object')